@model List<Order>

@{
    ViewData["Title"] = "Đơn Hàng";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Danh Sách Đơn Hàng</h4>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Mã Đơn Hàng</th>
                    <th>Món Hàng</th>
                    <th>Tổng Tiền</th>
                    @if(User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
                    {
                        <th>Tên Người Dùng</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>
                            <ul style="list-style-type: none;">
                                @foreach (var item in @order.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info" role="alert">
                                            <span class="badge bg-success">@item.Amount</span> [@item.Price.ToString("c")] - @item.Product.Name
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td>
                            @order.OrderItems.Select(m => m.Product.Price * m.Amount).Sum().ToString("c")
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
                        {
                            <td>@order.User.FullName</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>