@model Product

@{
    ViewData["Title"] = "Chi Tiết Sản Phẩm";
}

<h1>Chi Tiết Sản Phẩm</h1>
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-12 col-md-4">
            <img src="/images/@Model.Image" alt="@Model.Name" style="width: 100%">
        </div>
        <div class="col-12 col-md-8">
            <div class="card-header d-flex justify-content-end">
                <p class="badge badge-pill badge-secondary m-0 d-flex align-items-center">@Model.Category.Name</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text">Giá: <span class="text-success">@Model.Price.ToString("c")</span></p>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-success float-right" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
                    <i class="bi bi-cart-plus"></i> Thêm vào giỏ hàng
                </a>
                <a class="btn btn-outline-info" asp-action="Index">Quay về</a>
            </div>
        </div>
    </div>
</div>