@model IEnumerable<Product>

@{
    ViewData["Title"] = "List of Products";
}

<h1>Product List</h1>
<form class="form-inline my-2 justify-content-end" asp-controller="Products" asp-action="Filter">
    <input name="searchString" class="form-control mr-sm-2" type="search" placeholder="Search for Product" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i> Search</button>
</form>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100 mx-auto" style="width: 18rem;">
                <div class="card-header d-flex justify-content-between">
                    <p class="badge badge-pill badge-secondary m-0 d-flex align-items-center">@item.Category.Name</p>
                    <a class="btn btn-outline-primary" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id">
                        <i class="bi bi-cart"></i>
                    </a>
                </div>
                <img src="/images/@item.Image" class="card-img-top" alt=@item.Name>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Giá: <span class="text-success">@item.Price.ToString("N0")</span> VNĐ</p>
                    <div class="card-footer d-flex justify-content-between">
                        <a class="btn btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">
                            <i class="bi bi-eye"></i>
                        </a>
                        @if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
                        {
                            <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="bi bi-trash"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem", "Products")