@*Define Model*@
@model IEnumerable<Category>

@*Define ViewData*@
@{
    ViewData["Title"] = "List of Categories";
}
@*Write Code*@
<h1>Category List</h1>
<div class="row">
    <div class="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a class="btn btn-outline-primary" asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="bi bi-pencil"></i>Edit </a> |
                            <a class="btn btn-outline-info" asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id">
                                <i class="bi bi-eye"></i>Details </a> |
                            <a class="btn btn-danger" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="bi bi-trash"></i>Delete </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Categories")